<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции</strong>
  <ul>
    <% if @train.current_station %>
      <li><%= @train.current_station.title %></li>
    <% else %>
      Станция не назначена
    <% end %>
</ul>
</p>

<p>
  <strong>Маршрут</strong>
  <ul>
    <% if @train.route %>
      <li><%= @train.route.name %></li>
    <% else %>
      Маршрут не назначен
    <% end %>
  </ul>
</p>

<p>
  <strong>Купейных вагонов:</strong>
  <%= @train.second_class_cars %>
</p>

<p>
  <strong>Купейных верхних мест:</strong>
  <%= @train.places[:second_class_upper_places] %>
</p>

<p>
  <strong>Купейных нижних мест:</strong>
  <%= @train.places[:second_class_bottom_places] %>
</p>

<p>
  <strong>Плацкартных вагонов:</strong>
  <%= @train.third_class_cars %>
</p>

<p>
  <strong>Плацкартных верхних мест:</strong>
  <%= @train.places[:third_class_upper_places] %>
</p>

<p>
  <strong>Плацкартных нижних мест:</strong>
  <%= @train.places[:third_class_bottom_places] %>
</p>





<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
