<%= form_for(carriage) do |f| %>
  <%= render 'common/errors', resource: carriage %>



  <div class="field">
    <p>
      <h3>Тип вагона</h3>

      <%= f.label :car_type, 'Купе' %>
      <%= f.radio_button :car_type, 'купе' %>
      <%= f.label :car_type, 'Плацкарт' %>
      <%= f.radio_button :car_type, 'плацкарт' %>
    </p>
  </div>

  <div class="field">
    <%= f.label :upper_places, 'Количество верхних мест' %>
    <%= f.number_field :upper_places %>
  </div>

  <div class="field">
    <%= f.label :bottom_places, 'Колличества нижних мест' %>
    <%= f.number_field :bottom_places %>
  </div>

  <div class="field">
    <%= f.label :train, 'Поезд' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить'%>
  </div>
<% end %>
