<p id="notice"><%= notice %></p>

<p>
  <strong>Номер вагона:</strong>
  <%= @carriage.id %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.car_type %>
</p>

<p>
  <strong>Поезд</strong>
  <% if @carriage.train %>
    <%= @carriage.train.number %>
  <% else %>
    Поезд не назначен
  <% end %>
</p>

<%= link_to 'Изменить', edit_carriage_path(@carriage) %> |
<%= link_to 'Назад', carriages_path %>
